In [25]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [26]:
with open("Industrial_Giants.txt","r") as file:
    Giants_company_raw=file.read()
splitted_Giants_company=Giants_company_raw.split("\n")
df_giants=pd.DataFrame({"Companyname":splitted_Giants_company})
df_giants.drop_duplicates(inplace=True)
level=[]
for i in range(len(df_giants)):
    level.append("Giants")
df_giants["level"]=level

In [27]:
with open("Major tech companies.txt","r") as file:
    major_data_raw=file.read()
major_company_splitted=major_data_raw.split("\n")
major_df=pd.DataFrame({"Companyname":major_company_splitted})
major_df.drop_duplicates(inplace=True)
major_df["level"]="major"

In [28]:
with open("Specialize_Datascienc_firms.txt","r") as file:
    specialized_firm_raw=file.read()
specialized_firm_splitted=specialized_firm_raw.split("\n")
df_specialized=pd.DataFrame({"Companyname":specialized_firm_splitted})
df_specialized.drop_duplicates(inplace=True)
df_specialized["level"]="special"

In [29]:
with open("medium_size.txt","r") as file:
    medium_raw=file.read()
meduim_splitted=medium_raw.split("\n")
df_medium=pd.DataFrame({"Companyname":meduim_splitted})
df_medium.drop_duplicates(inplace=True)
df_medium["level"]="medium"

In [30]:
with open("Statup.txt","r") as file:
    startup_raw=file.read()
startup_splitted=startup_raw.split("\n")
df_startup=pd.DataFrame({"Companyname":startup_splitted})
df_startup.drop_duplicates(inplace=True)
df_startup["level"]="startup"

In [31]:
df_company=pd.concat([df_giants,major_df,df_specialized,df_medium,df_startup])
print(len(df_company))
print(df_company["Companyname"].duplicated().sum())
df_company.drop_duplicates(subset="Companyname",inplace=True)
print(df_company["Companyname"].duplicated().sum())

993
511
0

In [32]:
dictionary_job_level={"Entry_level":["Junior Data Engineer","Data Analyst","Buisness Intelligence(BI)",
                                     "Data Quality Analyst","Junior Data Scientist"],
                     "Mid_level":["Data Scientist","Data Engineer","Database Administrator(DBA)",
                                  "Data Architect","Buisness Intelligence (BI) Developer",
                                  "Machine Learning Engineer","Data Vizualization Specialist"],
                     "Senior_level":["Senior Data scientist","Senior Data Engineer","Lead Data Architect",
                                    "Data Consultant","Data Operation Specialist","Quantitative Analyst(quant)"],
                     "Executive_level":["Cheif Data Officer (CDO)","VP of Data","VP of Analytics","VP of Data Analysis",
                                        "Head of Data Science"]}
print(dictionary_job_level)

{'Entry_level': ['Junior Data Engineer', 'Data Analyst', 'Buisness Intelligence(BI)', 'Data Quality Analyst', 'Junior Data Scientist'], 'Mid_level': ['Data Scientist', 'Data Engineer', 'Database Administrator(DBA)', 'Data Architect', 'Buisness Intelligence (BI) Developer', 'Machine Learning Engineer', 'Data Vizualization Specialist'], 'Senior_level': ['Senior Data scientist', 'Senior Data Engineer', 'Lead Data Architect', 'Data Consultant', 'Data Operation Specialist', 'Quantitative Analyst(quant)'], 'Executive_level': ['Cheif Data Officer (CDO)', 'VP of Data', 'VP of Analytics', 'VP of Data Analysis', 'Head of Data Science']}

In [33]:
df_company_list1=[]
joblevel_list1=[]
jobs=[]
years=[]
company_level=[]
for i,j in zip(df_company["Companyname"],df_company["level"]):
    for k in dictionary_job_level["Entry_level"]:
        for h in range(6):
            jobs.append(k)
            df_company_list1.append(i)
            company_level.append(j)
            joblevel_list1.append("Entry_level")
            years.append(h+1)
            company_level
print(len(df_company_list1))
print(len(joblevel_list1))
print(len(jobs))
print(len(company_level))

14460
14460
14460
14460

In [34]:
df_Entry=pd.DataFrame({"Company":df_company_list1,"company_level":company_level,"job level":joblevel_list1,"jobs":jobs,"years":years})

In [35]:
df_company_list1=[]
joblevel_list1=[]
jobs=[]
years=[]
company_level=[]
for i,j in zip(df_company["Companyname"],df_company["level"]):
    for k in dictionary_job_level["Mid_level"]:
        for h in range(6):
            jobs.append(k)
            df_company_list1.append(i)
            company_level.append(j)
            joblevel_list1.append("Mid_level")
            years.append(h+1)
print(len(df_company_list1))
print(len(joblevel_list1))
print(len(jobs))

20244
20244
20244

In [36]:
df_mid_level=pd.DataFrame({"Company":df_company_list1,"company_level":company_level,"job level":joblevel_list1,"jobs":jobs,"years":years})

In [37]:
df_company_list1=[]
joblevel_list1=[]
jobs=[]
years=[]
company_level=[]
for i,j in zip(df_company["Companyname"],df_company["level"]):
    for k in dictionary_job_level["Senior_level"]:
        for h in range(6):
            jobs.append(k)
            df_company_list1.append(i)
            company_level.append(j)
            joblevel_list1.append("Senior_level")
            years.append(h+1)
print(len(df_company_list1))
print(len(joblevel_list1))
print(len(jobs))

17352
17352
17352

In [38]:
df_senior_level=pd.DataFrame({"Company":df_company_list1,"company_level":company_level,"job level":joblevel_list1,"jobs":jobs,"years":years})

In [39]:
df_company_list1=[]
joblevel_list1=[]
jobs=[]
years=[]
company_level=[]
for i,j in zip(df_company["Companyname"],df_company["level"]):
    for k in dictionary_job_level["Executive_level"]:
        for h in range(6):
            jobs.append(k)
            company_level.append(j)
            df_company_list1.append(i)
            joblevel_list1.append("Executive_level")
            years.append(h+1)
print(len(df_company_list1))
print(len(joblevel_list1))
print(len(jobs))

14460
14460
14460

In [40]:
df_executive_level=pd.DataFrame({"Company":df_company_list1,"company_level":company_level,"job level":joblevel_list1,"jobs":jobs,"years":years})

In [41]:
df_data=pd.concat([df_Entry,df_mid_level,df_senior_level,df_executive_level])
df_data

       Company company_level        job level                  jobs  years
0       Google        Giants      Entry_level  Junior Data Engineer      1
1       Google        Giants      Entry_level  Junior Data Engineer      2
2       Google        Giants      Entry_level  Junior Data Engineer      3
3       Google        Giants      Entry_level  Junior Data Engineer      4
4       Google        Giants      Entry_level  Junior Data Engineer      5
...        ...           ...              ...                   ...    ...
14455  Algomus       startup  Executive_level  Head of Data Science      2
14456  Algomus       startup  Executive_level  Head of Data Science      3
14457  Algomus       startup  Executive_level  Head of Data Science      4
14458  Algomus       startup  Executive_level  Head of Data Science      5
14459  Algomus       startup  Executive_level  Head of Data Science      6

[66516 rows x 5 columns]

In [42]:
df_data["experience"]=[12 for i in range(len(df_data))]

In [43]:
df_data

,Company,company_level,job level,jobs,years,experience
0,Google,Giants,Entry_level,Junior Data Engineer,1,12
1,Google,Giants,Entry_level,Junior Data Engineer,2,12
2,Google,Giants,Entry_level,Junior Data Engineer,3,12
3,Google,Giants,Entry_level,Junior Data Engineer,4,12
4,Google,Giants,Entry_level,Junior Data Engineer,5,12
...,...,...,...,...,...,...
14455,Algomus,startup,Executive_level,Head of Data Science,2,12
14456,Algomus,startup,Executive_level,Head of Data Science,3,12
14457,Algomus,startup,Executive_level,Head of Data Science,4,12
14458,Algomus,startup,Executive_level,Head of Data Science,5,12
14459,Algomus,startup,Executive_level,Head of Data Science,6,12

In [44]:
df_data=df_data.reset_index(drop=True)
for i in range(len(df_data)):
    if df_data["company_level"][i]=="startup":
        if df_data["job level"][i]=="Entry_level":
            if df_data["years"][i]==1 or df_data["years"][i]<1:
                df_data["experience"][i]="low"
            elif df_data["years"][i]>1 and df_data["years"][i]<=3:
                df_data["experience"][i]="Average"
            elif df_data["years"][i]>3 and df_data["years"][i]<=5:
                df_data["experience"][i]="good"
            elif df_data["years"][i]>5:
                df_data["experience"][i]="excellent"
        if df_data["job level"][i]=="Mid_level":
            if df_data["years"][i]<=1:
                df_data["experience"][i]="low"
            elif df_data["years"][i]>1 and df_data["years"][i]<=2:
                df_data["experience"][i]="Average"
            elif df_data["years"][i]==3:
                df_data["experience"][i]="good"
            elif df_data["years"][i]>=4:
                df_data["experience"][i]="excellent"
        if df_data["job level"][i]=="Senior_level":
            if df_data["years"][i]<=0.5:
                df_data["experience"][i]="low"
            elif df_data["years"][i]>0.5 and df_data["years"][i]<=1.5:
                df_data["experience"][i]="Average"
            elif df_data["years"][i]>1.5 and df_data["years"][i]<=3:
                df_data["experience"][i]="good"
            elif df_data["years"][i]>3:
                df_data["experience"][i]="excellent"
        if df_data["job level"][i]=="Executive_level":
            if df_data["years"][i]>0 and df_data["years"][i]<=2:
                df_data["experience"][i]="Average"
            elif df_data["years"][i]>2 and df_data["years"][i]<=3:
                df_data["experience"][i]="good"
            elif df_data["years"][i]>3:
                df_data["experience"][i]="excellent"
    if df_data["company_level"][i]=="Giants":
        if df_data["job level"][i]=="Entry_level":
            if df_data["years"][i]>0 and df_data["years"][i]<=1:
                df_data["experience"][i]="good"
            elif df_data["years"][i]>1:
                df_data["experience"][i]="excellent"
        if df_data["job level"][i]=="Mid_level":
            if df_data["years"][i]>0 and df_data["years"][i]<=1:
                df_data["experience"][i]="Average"
            elif df_data["years"][i]>1 and df_data["years"][i]<=3:
                df_data["experience"][i]="good"
            elif df_data["years"][i]>3:
                df_data["experience"][i]="excellent"
        if df_data["job level"][i]=="Senior_level":
            if df_data["years"][i]>0 and df_data["years"][i]<=3:
                df_data["experience"][i]="good"
            elif df_data["years"][i]>3:
                df_data["experience"][i]="excellent"
        if df_data["job level"][i]=="Executive_level":
            if df_data["years"][i]>0 and df_data["years"][i]<=2:
                df_data["experience"][i]="good"
            elif df_data["years"][i]>2:
                df_data["experience"][i]="excellent"
    if df_data["company_level"][i]=="medium":
        if df_data["job level"][i]=="Entry_level":
            if df_data["years"][i]>0 and df_data["years"][i]<=1:
                df_data["experience"][i]="low"
            elif df_data["years"][i]<1 and df_data["years"][i]<=3:
                df_data["experience"][i]="Average"
            elif df_data["years"][i]>3 and df_data["years"][i]<=4:
                df_data["experience"][i]="good"
            elif df_data["years"][i]>4:
                df_data["experience"][i]="excellent"
        if df_data["job level"][i]=="Mid_level" or df_data["job level"][i]=="Senior_level":
            if df_data["years"][i]>0 and df_data["years"][i]<=2:
                df_data["experience"][i]="Average"
            elif df_data["years"][i]>2 and df_data["years"][i]<4:
                df_data["experience"][i]="good"
            elif df_data["years"][i]>4:
                df_data["experience"][i]="excellent"
        if df_data["job level"][i]=="Executive_level":
            if df_data["years"][i]>0 and df_data["years"][i]<=1:
                df_data["experience"][i]="Average"
            elif df_data["years"][i]>1 and df_data["years"][i]<=3:
                df_data["experience"][i]="good"
            elif df_data["years"][i]>3:
                df_data["experience"][i]='excellent'
    if df_data["company_level"][i]=="special":
        if df_data["job level"][i]=="Entry_level":
            if df_data["years"][i]>0 and df_data["years"][i]<=0.5:
                df_data["experience"][i]="low"
            elif df_data["years"][i]>0.5 and df_data["years"][i]<=2:
                df_data["experience"][i]="Average"
            elif df_data["years"][i]>2 and df_data["years"][i]<=4:
                df_data["experience"][i]="good"
            elif df_data["years"][i]>4:
                df_data["experience"][i]="excellent"
        if df_data["job level"][i]=="Mid_level" or df_data["job level"][i]=="Senior_level":
            if df_data["years"][i]>0 and df_data["years"][i]<=2:
                df_data["experience"][i]="Average"
            elif df_data["years"][i]>2 and df_data["years"][i]<=3:
                df_data["experience"][i]="good"
            elif df_data["years"][i]>3:
                df_data["experience"][i]="excellent"
        if df_data["job level"][i]=="Executive_level":
            if df_data["years"][i]>0 and df_data["years"][i]<=1:
                df_data["experience"][i]="Average"
            elif df_data["years"][i]>1 and df_data["years"][i]<=3:
                df_data["experience"][i]="good"
            elif df_data["years"][i]>3:
                df_data["experience"][i]="excellent"
    if df_data["company_level"][i]=="major":
        if df_data["job level"][i]=="Entry_level":
            if df_data["years"][i]>0 and df_data["years"][i]<=3:
                df_data["experience"][i]="Average"
            elif df_data["years"][i]>3 and df_data["years"][i]<=4:
                df_data["experience"][i]="good"
            elif df_data["years"][i]>4:
                df_data["experience"][i]="excellent"
        if df_data["job level"][i]=="Mid_level" or df_data["job level"][i]=="Senior_level":
            if df_data["years"][i]>0 and df_data["years"][i]<=2:
                df_data["experience"][i]="Average"
            elif df_data["years"][i]>2 and df_data["years"][i]<=4:
                df_data["experience"][i]="good"
            elif df_data["years"][i]>4:
                df_data["experience"][i]="excellent"
        if df_data["job level"][i]=="Executive_level":
            if df_data["years"][i]>0 and df_data["years"][i]<=3:
                df_data["experience"]="good"
            elif df_data["years"][i]>3:
                df_data["experience"][i]="excellent"

In [45]:
#pd.set_option("display.max_rows",None)

In [46]:
df_data.to_csv("experience.csv")

In [47]:
for i in range(len(df_data)):
    if df_data["experience"][i]=="low":
        print("yes")

In [48]:
for i in range(len(df_data)):
    if df_data["company_level"][i]=="startup":
        if df_data["job level"][i]=="Entry_level":
            
            if df_data["experience"][i]=="low":
                print("k")